@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

:root {
  --silver: #e8e8e8;
  --light-gray: #96939b;
  --gray: #6f6c75;
  --light-red: #f9b5ac;
  --red: #e94c49;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  background-color: var(--red);
  min-height: calc(100vh - 3rem);
  display: grid;
  grid-template-rows: 3.5rem 12rem 1fr;
}

header {
  border-bottom: 1px solid var(--light-red);
  padding-left: 1.25rem;
  display: flex;
  align-items: center;
}

.header-link {
  color: var(--silver);
  font-size: 1.5rem;
  font-weight: 500;
}

.search-section {
  box-shadow: 0 2px 10px -3px var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  z-index: 1;
}

h1 {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

.search-form {
  position: relative;
}

.search-input {
  font-family: "Roboto Mono", monospace;
  background-color: transparent;
  color: var(--light-red);
  font-size: 1.25rem;
  border: 2px solid var(--light-red);
  border-radius: 1.5rem;
  height: 2rem;
  padding: 0 2.5rem 0 1rem;
}

.search-input:focus {
  color: white;
  border: 2px solid white;
  box-shadow: 0 0 5px 2px var(--light-red);
  outline: none;
}

.search-input::placeholder {
  color: var(--light-red);
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-btn {
  color: white;
  font-size: 1.25rem;
  position: absolute;
  top: 0;
  right: 0.25rem;
  padding: 0.5rem;
}

.results-section {
  background-color: white;
  padding: 2rem calc((100vw - min(85vw, 60rem)) / 2);
}

.results-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
}

.results-info {
  color: var(--gray);
  font-style: italic;
  margin: 0.5rem 0 1rem;
}

.results-card {
  border: 1px solid var(--silver);
  border-radius: 0.25rem;
  box-shadow: 5px 5px 10px var(--silver);
  padding: 1rem;
}

h2 {
  margin: 0;
}

.weather-description {
  font-size: 0.8rem;
  font-weight: 700;
}




footer {
  background-color: var(--silver);
  color: var(--gray);
  font-size: 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
}

.footer-link {
  color: var(--gray);
}

.footer-link:hover {
  text-decoration: underline;
}
